@keyframes bounceIn {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    top: 0%;
  }
}

@keyframes slideIn {
  from {
    top: -50%;
  }
  to {
    top: 0%;
  }
}
@keyframes slideInRep {
  0% {
    top: 0%;
  }
  40% {
    top: -5%;
  }
  100% {
    top: 0%;
  }
}

@keyframes slideOut {
  0% {
    margin-left: 0%;
  }

  100% {
    opacity: 0;
    margin-left: 100%;
  }
}

div[class^="dot-"] {
  position: relative;
  display: inline-block;
  white-space: normal;

  margin: 0.2em;
  width: 24px;
  height: 24px;
  border-radius: 15px;

}

html,
body {
  height: 100%;
}

.wrapper {
  height: 100%;

  white-space: nowrap;
  position: absolute;
  left: calc(50% - 48px);
  top: calc(50% - 24px);

  animation: slideOut 0.8s ease-in-out forwards;
  animation-delay: 5s;

}

.dot-1 {
  background-color: rgb(156, 179, 199);
  animation: bounceIn 1.5s ease-in, slideIn 1.5s, slideInRep 1s ease-in-out 3;
  animation-delay: 0s, 0.1s, 2.15s;
}

.dot-2 {
  background-color: rgb(61, 99, 134);
  animation: bounceIn 1.7s ease-in, slideIn 1.5s, slideInRep 1s ease-in-out 3;
  animation-delay: 0s, 0.2s, 2.1s;
}

.dot-3 {
  background-color: rgb(255, 231, 196);
  animation: bounceIn 1.62s ease-in, slideIn 1.5s, slideInRep 1s ease-in-out 3;
  animation-delay: 0s, 0.3s, 2.05s;
}

.dot-4 {
  background-color: rgb(58, 116, 168);
  animation: bounceIn 1.42s ease-in, slideIn 1.5s, slideInRep 1s ease-in-out 3;
  animation-delay: 0s, 0.4s, 1.95s;
}
